.icon-ttn-logo-1140-white { background-image: url(png/ttn-logo-1140-white.png); background-repeat: no-repeat; }

.icon-ttn-logo-1140 { background-image: url(png/ttn-logo-1140.png); background-repeat: no-repeat; }

.icon-ttn-logo-500-white { background-image: url(png/ttn-logo-500-white.png); background-repeat: no-repeat; }

.icon-ttn-logo-500 { background-image: url(png/ttn-logo-500.png); background-repeat: no-repeat; }