/*------------------------------------*\
    LUNCHIES 2013: VARS
\*------------------------------------*/





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     true;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/

$responsive: true;
$mobile-first: true;
$use-silent-classes: true;
$push: true;
$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'lapandup' '(min-width: 481px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
);




/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

$base-spacing-unit: 16px;



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$color-orange: #F28A49;
$color-tan: #F7E3B2;
$color-salmon: #E3967D;
$color-wood: #57342D;
$color-sea: #9DBFA4;

$color__alpha: $color-orange;
$color__beta: $color-tan;
$color__gamma: $color-salmon;
$color__delta: $color-wood;
$color__epsilon: $color-sea;

$footer-height: $base-spacing-unit * 2;