/*------------------------------------*\
    TTN: ORGANISMS: SITE HEADER
\*------------------------------------*/
/**
 * The main site header at the top of most
 * pages besides (some) special issue pages.
 */

.site-header {
  background-color: black;
  position: relative; // ^why?
  z-index: 9999; // ^why?
}

  .site-header__branding {
    margin-bottom: $base-spacing-unit;

    .inner {
      @extend %grid;
      @extend %grid--full;
    }
  }

    .site-header__branding__logo {
      @extend %grid__item;
      @extend %portable--two-thirds;
      @extend %desk--one-third;

      /**
       * Logo sizing based on font size.
       *
       * FitText will control this when JS is enabled.
       */
      background-size: contain;
      text-indent: -9999px;
      @include font-size(40px);
      @include media-query(lap) {
        @include font-size(40px);
      }
      @include media-query(desk) {
        @include font-size(60px);
      }
    }

    .site-header__branding__social {
      @extend %grid__item;
      @extend %desk--one-third;
      @extend .accessibility--portable;

      color: white;
      vertical-align: middle;
      padding-top: $base-line-height;
      font-family: $font-stack__sans-serif;
      padding-left: 10px;
    }

    .site-header__branding__search {
      @extend %grid__item;
      @extend %desk--one-third;
    }
