/*------------------------------------*\
    TTN: ORGANISMS: SITE HEADER
\*------------------------------------*/
/**
 * The main site header at the top of most
 * pages besides (some) special issue pages.
 */

.banner {
  background-color: black;
  padding-top: $base-spacing-unit;
  position: relative; // ^why?
  z-index: 9999; // ^why?
}

  .brand {
    margin-bottom: $base-spacing-unit;

    /**
     * Prevent weird search input movement on resize.
     */
    @include vendor(transition, none);
  }

    .brand__logo {
      @include text-hide();
      display: block;
      background-size: contain;
      height: 50px;
    }

    .brand__social {
      @extend .accessibility--portable;
      color: white;
      vertical-align: middle;
      padding-top: $base-line-height;
      font-family: $font-stack__sans-serif;
    }

      .brand__social__tagline {
        margin-bottom: 0;
      }

    .brand__search {
      margin-top: $half-spacing-unit;
    }


@include at-breakpoint($layout-lap) {
  .brand__logo,
  .brand__search {
    @include span-columns(6);
  }

  .brand__search {
    @include omega;
  }
}


@include at-breakpoint($layout-desk) {
  .brand__logo {
    @include span-columns(5);
  }

  .brand__social {
    @include span-columns(3);
  }

  .brand__search {
    @include span-columns(4 omega);
  }
}


@include at-breakpoint($lap-start $total-columns 600px) {
  .brand__search {
    margin-top: 0;
  }
}
