/*------------------------------------*\
    TTN: ORGANISMS: SITE NAV
\*------------------------------------*/
/**
 * The main navigation organism.
 */


.menu-toggle {
  &,
  & span {
    @extend .accessibility--desk;
  }
}



.site-nav {
  font-weight: 600;
  font-family: $font-stack__sans-serif;
  text-transform: uppercase;
  padding-bottom: $half-spacing-unit;
}

  /*ul*/.nav-menu {
    white-space: normal;
    margin-bottom: 0;
    li {
      margin: 0 $base-spacing-unit / 4;
      a {
        &:hover,
        &:focus {
          background-color: $color__red;
          color: black;
        }
      }
    }
  }
