/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida and @rowanmanning for refining and
 * improving my initial mixin.
 */
@mixin headings($from: 1, $to: 6){
    @if $from >= 1 and $to <= 6{
        $heading-selector: (unquote(""));
        @for $i from $from through $to {
            $heading-selector: $heading-selector, unquote("h#{$i}")
        }
        #{$heading-selector}{
            @content
        }
    }
}
