/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use LESS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so LESS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of LESS' great features: 
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques like box shadow and
border-radius.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more. 

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */.clearfix {
  /* for IE */

  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */
.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*********************
TYPOGRAPHY
*********************/
/* Cubano Regular */
@font-face {
  font-family: 'CubanoRegular';
  src: url('../fonts/cubano-regular-webfont.eot');
  src: url('../fonts/cubano-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/cubano-regular-webfont.woff') format('woff'), url('../fonts/cubano-regular-webfont.ttf') format('truetype'), url('../fonts/cubano-regular-webfont.svg#CubanoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Ostrich Sans */
@font-face {
  font-family: 'OstrichSansCondensedLight';
  src: url('../fonts/ostrich-light-webfont.eot');
  src: url('../fonts/ostrich-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-light-webfont.woff') format('woff'), url('../fonts/ostrich-light-webfont.ttf') format('truetype'), url('../fonts/ostrich-light-webfont.svg#OstrichSansCondensedLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSansMedium';
  src: url('../fonts/ostrich-regular-webfont.eot');
  src: url('../fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-regular-webfont.woff') format('woff'), url('../fonts/ostrich-regular-webfont.ttf') format('truetype'), url('../fonts/ostrich-regular-webfont.svg#OstrichSansMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSansBold';
  src: url('../fonts/ostrich-bold-webfont.eot');
  src: url('../fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-bold-webfont.woff') format('woff'), url('../fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSansBlack';
  src: url('../fonts/ostrich-black-webfont.eot');
  src: url('../fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-black-webfont.woff') format('woff'), url('../fonts/ostrich-black-webfont.ttf') format('truetype'), url('../fonts/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSansRoundedMedium';
  src: url('../fonts/ostrich-rounded-webfont.eot');
  src: url('../fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-rounded-webfont.woff') format('woff'), url('../fonts/ostrich-rounded-webfont.ttf') format('truetype'), url('../fonts/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OstrichSansDashedMedium';
  src: url('../fonts/ostrich-dashed-webfont.eot');
  src: url('../fonts/ostrich-dashed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ostrich-dashed-webfont.woff') format('woff'), url('../fonts/ostrich-dashed-webfont.ttf') format('truetype'), url('../fonts/ostrich-dashed-webfont.svg#OstrichSansDashedMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* League Gothic */
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../fonts/League_Gothic-webfont.eot');
  src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/League_Gothic-webfont.woff') format('woff'), url('../fonts/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Mensch */
@font-face {
  font-family: 'MenschRegular';
  src: url('../fonts/mensch-wf.eot');
  src: url('../fonts/mensch-wf.eot?#iefix') format('embedded-opentype'), url('../fonts/mensch-wf.woff') format('woff'), url('../fonts/mensch-wf.ttf') format('truetype'), url('../fonts/mensch-wf.svg#MenschMenschRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MenschBold';
  src: url('../fonts/mensch-bold-wf.eot');
  src: url('../fonts/mensch-bold-wf.eot?#iefix') format('embedded-opentype'), url('../fonts/mensch-bold-wf.woff') format('woff'), url('../fonts/mensch-bold-wf.ttf') format('truetype'), url('../fonts/mensch-bold-wf.svg#MenschMenschBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MenschBoldInline';
  src: url('../fonts/mensch-inline-wf.eot');
  src: url('../fonts/mensch-inline-wf.eot?#iefix') format('embedded-opentype'), url('../fonts/mensch-inline-wf.woff') format('woff'), url('../fonts/mensch-inline-wf.ttf') format('truetype'), url('../fonts/mensch-inline-wf.svg#MenschMenschBoldInline') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MenschThin';
  src: url('../fonts/mensch-thin-wf.eot');
  src: url('../fonts/mensch-thin-wf.eot?#iefix') format('embedded-opentype'), url('../fonts/mensch-thin-wf.woff') format('woff'), url('../fonts/mensch-thin-wf.ttf') format('truetype'), url('../fonts/mensch-thin-wf.svg#MenschMenschThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Blackout Midnight */
@font-face {
  font-family: 'BlackoutMidnight';
  src: url('../fonts/blackout_midnight-webfont.eot');
  src: url('../fonts/blackout_midnight-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/blackout_midnight-webfont.woff') format('woff'), url('../fonts/blackout_midnight-webfont.ttf') format('truetype'), url('../fonts/blackout_midnight-webfont.svg#BlackoutBlackoutMidnight') format('svg');
}
/* Chunk Five */
@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/Chunkfive-webfont.eot');
  src: url('../fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Chunkfive-webfont.woff') format('woff'), url('../fonts/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/Chunkfive-webfont.svg#ChunkfiveChunkFive') format('svg');
}
/* Kristi */
@font-face {
  font-family: 'KristiMedium';
  src: url('../fonts/Kristi-webfont.eot');
  src: url('../fonts/Kristi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Kristi-webfont.woff') format('woff'), url('../fonts/Kristi-webfont.ttf') format('truetype'), url('../fonts/Kristi-webfont.svg#KristiMedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Clutchee */
@font-face {
  font-family: 'ClutcheeRegular';
  src: url('../fonts/clutchee-webfont.eot');
  src: url('../fonts/clutchee-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clutchee-webfont.woff') format('woff'), url('../fonts/clutchee-webfont.ttf') format('truetype'), url('../fonts/clutchee-webfont.svg#ClutcheeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* SF Collegiate */
@font-face {
  font-family: 'SFCollegiateRegular';
  src: url('../fonts/SF_Collegiate-webfont.eot');
  src: url('../fonts/SF_Collegiate-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SF_Collegiate-webfont.woff') format('woff'), url('../fonts/SF_Collegiate-webfont.ttf') format('truetype'), url('../fonts/SF_Collegiate-webfont.svg#SFCollegiateRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFCollegiateSolidRegular';
  src: url('../fonts/SF_Collegiate_Solid-webfont.eot');
  src: url('../fonts/SF_Collegiate_Solid-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/SF_Collegiate_Solid-webfont.woff') format('woff'), url('../fonts/SF_Collegiate_Solid-webfont.ttf') format('truetype'), url('../fonts/SF_Collegiate_Solid-webfont.svg#SFCollegiateSolidRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Museo */
@font-face {
  font-family: 'Museo';
  src: url('../fonts/Museo300-Regular-webfont.eot');
  src: url('../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo300-Regular-webfont.woff') format('woff'), url('../fonts/Museo300-Regular-webfont.ttf') format('truetype'), url('../fonts/Museo300-Regular-webfont.svg#Museo300Regular') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Museo';
  src: url('../fonts/Museo700-Regular-webfont.eot');
  src: url('../fonts/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Museo700-Regular-webfont.woff') format('woff'), url('../fonts/Museo700-Regular-webfont.ttf') format('truetype'), url('../fonts/Museo700-Regular-webfont.svg#Museo700Regular') format('svg');
  font-weight: 700;
  font-style: normal;
}
/* Mixins */
/* smallcaps */
.sc {
  font-family: 'Alegreya SC';
}
/* mobile: line-height in ems for 14px as 20px */
/* desktop: line-height in ems for 16px as 24px */
/* desktop body: line-height in ems for 20px as 30px */
/* fittext */
.fittext {
  width: 100%;
  display: block;
}
/* slabtext */
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}
.slabtextdone .slabtext {
  display: block;
}
/* 
use the best ampersand 
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
}
/* text alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/* alerts & notices */
.alert {
  text-align: center;
  font-weight: normal;
  font-family: 'LeagueGothicRegular', Impact, sans-serif;
  font-size: 1.875em;
}
.help {
  border-color: #e8dc59;
  background: #ebe16f;
}
.info {
  border-color: #bfe4f4;
  background: #d5edf8;
}
.error {
  border-color: #f8cdce;
  background: #fbe3e4;
}
.success {
  border-color: #deeaae;
  background: #e6efc2;
}
/*********************
BORDERS
*********************/
/* ~1px for 87.5% font-size */
/* ~1px for 100% font-size */
/* border is ~1px for 87.5% font-size */
/* border is ~1px for 100% font-size */
/*********************
BORDER RADIUS
*********************/
/* .rounded(4px); */
/* NOTE: For older browser support (and some mobile), don't use the shorthand to define *different* corners. */
/* .rounded-left(4px); */
/* .rounded-right(4px); */
/* .rounded-bottom(4px); */
/* .rounded-top(4px); */
/*********************
TRANISTION
*********************/
/* .transition(all,2s); */
/*********************
CSS3 GRADIENTS
Be careful with these since they can 
really slow down your CSS. Don't overdue it.
*********************/
/* .css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* .boxSizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So 
probably best not to use it. I mean, were you going to anyway? */
/*********************
BOX SHADOW
*********************/
/* .boxShadow(0 0 4px #444); */
/*********************
TEXT SHADOW
*********************/
/*********************
BUTTONS
*********************/
.button,
.button:visited {
  border: 1px solid #be0d37;
  border-top-color: #db0f3f;
  border-left-color: #db0f3f;
  padding: 4px 12px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #e40f42;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f01d4f), to(#e40f42));
  background-image: -webkit-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -moz-linear-gradient(top, #f01d4f, #e40f42);
  background-image: -o-linear-gradient(top, #f01d4f, #e40f42);
  background-image: linear-gradient(to bottom, #f01d4f, #e40f42);
}
.button:hover,
.button:visited:hover,
.button:focus,
.button:visited:focus {
  color: #ffffff;
  border: 1px solid #be0d37;
  border-top-color: #9d0a2d;
  border-left-color: #9d0a2d;
  background-color: #cc0e3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#cc0e3b));
  background-image: -webkit-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -moz-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: -o-linear-gradient(top, #e40f42, #cc0e3b);
  background-image: linear-gradient(to bottom, #e40f42, #cc0e3b);
}
.button:active,
.button:visited:active {
  background-color: #f01d4f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e40f42), to(#f01d4f));
  background-image: -webkit-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -moz-linear-gradient(top, #e40f42, #f01d4f);
  background-image: -o-linear-gradient(top, #e40f42, #f01d4f);
  background-image: linear-gradient(to bottom, #e40f42, #f01d4f);
}
.blue-button,
.blue-button:visited {
  border-color: #1472ad;
  text-shadow: 0 1px 1px #1472ad;
  background-color: #1681c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1990db), to(#1681c4));
  background-image: -webkit-linear-gradient(top, #1990db, #1681c4);
  background-image: -moz-linear-gradient(top, #1990db, #1681c4);
  background-image: -o-linear-gradient(top, #1990db, #1681c4);
  background-image: linear-gradient(to bottom, #1990db, #1681c4);
  -webkit-box-shadow: inset 0 0 3px #59b3ec;
  -moz-box-shadow: inset 0 0 3px #59b3ec;
  box-shadow: inset 0 0 3px #59b3ec;
}
.blue-button:hover,
.blue-button:visited:hover,
.blue-button:focus,
.blue-button:visited:focus {
  border-color: #116396;
  background-color: #1472ad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1784c9), to(#1472ad));
  background-image: -webkit-linear-gradient(top, #1784c9, #1472ad);
  background-image: -moz-linear-gradient(top, #1784c9, #1472ad);
  background-image: -o-linear-gradient(top, #1784c9, #1472ad);
  background-image: linear-gradient(to bottom, #1784c9, #1472ad);
}
.blue-button:active,
.blue-button:visited:active {
  background-color: #1990db;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1681c4), to(#1990db));
  background-image: -webkit-linear-gradient(top, #1681c4, #1990db);
  background-image: -moz-linear-gradient(top, #1681c4, #1990db);
  background-image: -o-linear-gradient(top, #1681c4, #1990db);
  background-image: linear-gradient(to bottom, #1681c4, #1990db);
}
/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/
.documentary-banner h2 {
  font-size: 6em;
}
.weekender-text-banner {
  font-size: 3.429rem;
}
#main.the-essayist {
  /* end archive */

}
#main.the-essayist.essayist-archive h2.essayist-text-banner {
  font-size: 120px;
}
/* end .the-essayist */
.music-issue-text-banner {
  font-size: 3.143em;
}
/**************************
 * WORDPRESS BODY CLASSES 
 **************************/
.single-multimedia .post-content img,
.single-slideshow .post-content img {
  max-width: 100%;
}
.page-template-documentary-php {
  /* "Branded" Documentary Page */

  /* end .page-branded */

}
.page-template-documentary-php.page-branded .page-title {
  font-size: 6em /* 84px @ 14px base */
;
}
/* end documentary template */
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */

}
.menu ul {
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.menu ul li {
  /*
				plan your menus and drop-downs wisely.
				*/

}
.menu ul li a {
  /*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/

}
/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* post content */
.post-content {
  /* at this larger size, we can start to align images */

}
.post-content img[class*="align"],
.post-content img[class*="wp-image-"],
.post-content img[class*="attachment-"] {
  max-width: 50%;
}
.post-content .single-featured-image-full-container img {
  max-width: 100%;
}
.post-content .wp-caption {
  max-width: 50%;
}
.post-content .wp-caption img {
  max-width: 100%;
}
.post-content .alignleft,
.post-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.post-content .alignright,
.post-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.post-content .aligncenter,
.post-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
/* end .post-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 100%;
  line-height: 1.5;
}
.hoz-rule-third {
  border-bottom: 0.0625em solid #cccccc;
}
/***********************
ADVERTS AND SOCIAL MEDIA
************************/
.ttn-network-banner,
.ttn-network-feed {
  border-top: none;
  border-bottom: none;
  margin: 0 0 1.5em;
}
.ttn-network-feed {
  padding: 0.6875em 1em;
  background: #ffffff;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.ttn-network-feed:before,
.ttn-network-feed:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.ttn-network-feed:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.ttn-network-feed .network-feed-title {
  font-size: 3.429em;
  line-height: 1;
  margin: 0.2em 0;
}
.ttn-network-feed .network-feed-subtitle {
  font-size: 1.000em;
  line-height: 1.500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 300;
  font-weight: 500;
  text-transform: none;
}
.ttn-network-feed ul {
  font-size: 87.5%;
  line-height: 1.5;
  padding: 0;
  list-style: none;
}
.ttn-network-feed ul li {
  margin: 1.5em 0;
}
.ad-container .ad > div {
  margin: 0 auto;
}
/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/
.documentary-banner h2 {
  font-size: 8em;
}
.weekender-text-banner {
  font-size: 4.500rem;
}
.bar-guide-text-banner {
  font-size: 4.5rem;
}
.music-issue-text-banner {
  font-size: 4.500em;
}
.single-top-promo .bar-guide-text-banner {
  font-size: 3.5rem;
}
.single-article_sports .the-american-spreadsheet {
  margin: 0 0 1.5em 1.5em;
  float: right;
  max-width: 50%;
}
#main.the-essayist {
  /* end essayist-archive and essay */

  /* end essayist-archive */

  /* end essay */

}
#main.the-essayist.essayist-archive,
#main.the-essayist.essay {
  /* end .post */

}
#main.the-essayist.essayist-archive article,
#main.the-essayist.essay article {
  /* end .byline */

}
#main.the-essayist.essayist-archive article .byline,
#main.the-essayist.essay article .byline {
  text-align: center;
  font-size: 1.875em;
  margin-bottom: 0;
  /* end a */

}
#main.the-essayist.essayist-archive article .byline a,
#main.the-essayist.essay article .byline a {
  color: #111111;
}
#main.the-essayist.essayist-archive article .byline a:hover,
#main.the-essayist.essay article .byline a:hover,
#main.the-essayist.essayist-archive article .byline a:active,
#main.the-essayist.essay article .byline a:active {
  color: #cc0000;
}
#main.the-essayist.essayist-archive article .dek,
#main.the-essayist.essay article .dek {
  font-size: 1.25em;
}
#main.the-essayist.essayist-archive h2.essayist-text-banner {
  font-size: 160px;
}
#main.the-essayist.essayist-archive #special-issue-description,
#main.the-essayist.essayist-archive article {
  margin-bottom: 4.5em;
}
#main.the-essayist.essayist-archive #special-issue-description {
  font-size: 1.5rem;
}
#main.the-essayist.essay header {
  margin: 0 auto;
  float: none;
  text-align: center;
}
#main.the-essayist.essay .post-content {
  font-size: 1.25em;
}
/* end .the-essayist */
.bar-guide .fittext,
.bar-guide .slabtextthis {
  text-align: left;
}
.bar-guide #bar-guide-map iframe {
  height: 600px;
}
.bar-guide article .headline {
  text-align: left;
}
.bar-guide article .headshot {
  display: block;
  float: left;
  padding-right: 1em;
}
/* end .bar-guide */
.special-issue-banner--reunion-2013 h2 {
  font-size: 136px;
  font-size: 8.5rem;
}
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
.home {
  /* end .home #section-box-opinion */

  /* end #section-box-multimedia */

  /* end #section-box-slideshows */

}
.home #column-center {
  -webkit-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -1.5em;
}
.home #column-center #column-center-inner {
  padding: 1.5em;
}
.home .slide-image {
  float: left;
  position: relative;
}
.home #section-box-featured-editorial,
.home #section-box-featured-multimedia,
.home #section-box-featured-slideshow,
.home #section-box-print,
.home #section-box-featured-links,
.home #widgetized-front-center {
  display: block;
}
.home .section-box-featured .section-box-featured-title {
  font-weight: 300;
}
.home .section-box-featured#section-box-featured-content {
  margin-bottom: 3em;
}
.home .section-box-featured#section-box-featured-editorial .headline,
.home .section-box-featured#section-box-featured-multimedia .headline,
.home .section-box-featured#section-box-featured-slideshow .headline,
.home .section-box-featured#section-box-featured-editorial .dek,
.home .section-box-featured#section-box-featured-multimedia .dek,
.home .section-box-featured#section-box-featured-slideshow .dek {
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.home .section-box-featured#section-box-featured-slideshow a {
  display: block;
}
.home .section-box-title {
  /* border-top: @niceborders-l; */

  border-bottom: 0.0625em solid #cccccc;
  padding: 0.75em 0;
  margin-bottom: 1.4375em;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  filter: dropshadow(color=rgba(0, 0, 0, 0.3), offx=3px, offy=3px);
}
.home .section-box-title a:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  filter: dropshadow(color=rgba(0, 0, 0, 0.3), offx=4px, offy=4px);
  position: relative;
  top: -1px;
  left: -1px;
}
.home .section-box-title a:active {
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
  filter: dropshadow(color=rgba(0, 0, 0, 0.3), offx=3px, offy=3px);
  position: relative;
  top: 1px;
  left: 1px;
}
.home #links-print-edition span {
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.home #menu-top-links {
  list-style: none;
  margin: 0;
  text-align: right;
}
.home #menu-top-links li {
  width: 100%;
}
.home article {
  margin-bottom: 1.5em;
}
.home article .featured-image-container-thumb {
  width: 96px;
  margin: 0 1.5em 1.5em 0;
}
.home article .headline {
  font-size: 1.5em;
  line-height: 1;
  margin: 0.5em 0;
  margin: 0 0 0.25em;
}
.home article .top-headline {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
}
.home article .dek {
  display: block;
}
.home article .dek p {
  margin-top: 0;
}
.home #section-box-opinion article {
  text-align: center;
}
.home #section-box-opinion article .featured-image-container-thumb {
  width: auto;
  margin: 1.5em auto;
  position: static;
  float: none;
}
.home #section-box-opinion article .featured-image-container-thumb a,
.home #section-box-opinion article .featured-image-container-thumb img {
  display: block;
}
.home #section-box-opinion article .headline {
  font-size: 1.250em;
  line-height: 1.2;
  margin: 0.5em 0;
}
.home #section-box-multimedia {
  /* end #multimedia-mgallery */

}
.home #section-box-multimedia #multimedia-mgallery {
  /* end .multimedia-mgallery-main */

}
.home #section-box-multimedia #multimedia-mgallery article {
  border-bottom: none;
}
.home #section-box-multimedia #multimedia-mgallery .multimedia-mgallery-main header {
  margin: 0 0 1.5em;
}
.home #section-box-multimedia #multimedia-mgallery .multimedia-mgallery-main header .headline {
  margin: 0;
}
.home #section-box-slideshows {
  /* end #slideshows-mgallery */

}
.home #section-box-slideshows #slideshows-mgallery {
  /* end .slideshows-mgallery-main */

}
.home #section-box-slideshows #slideshows-mgallery article {
  border-bottom: none;
}
.home #section-box-slideshows #slideshows-mgallery article .home-slideshows-headline {
  margin: 0;
}
.home #section-box-slideshows #slideshows-mgallery .slideshows-mgallery-main header {
  margin: 0 0 1.5em;
}
.home #section-box-slideshows #slideshows-mgallery .slideshows-mgallery-main header .headline {
  margin: 0;
}
/* home page */
/* blog page */
.archive {
  /* end article */

}
.archive .archive-main-title {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
  border-bottom: 0.0625em solid #cccccc;
  padding: 0;
  margin: auto 0 1.5em;
}
.archive .archive-main-title .archive-breadcrumb {
  font-weight: 300;
  font-size: 0.750em;
  /* 12px */

}
.archive article {
  margin-bottom: 1.5em;
  /* end .featured-image-container-thumb */

}
.archive article header,
.archive article .dek,
.archive article .post-category-list-container,
.archive article .headline,
.archive article .featured-image-container {
  /* for IE */

  zoom: 1;
}
.archive article header:before,
.archive article .dek:before,
.archive article .post-category-list-container:before,
.archive article .headline:before,
.archive article .featured-image-container:before,
.archive article header:after,
.archive article .dek:after,
.archive article .post-category-list-container:after,
.archive article .headline:after,
.archive article .featured-image-container:after {
  content: "";
  display: table;
}
.archive article header:after,
.archive article .dek:after,
.archive article .post-category-list-container:after,
.archive article .headline:after,
.archive article .featured-image-container:after {
  clear: both;
}
.archive article header:after,
.archive article .dek:after,
.archive article .post-category-list-container:after,
.archive article .headline:after,
.archive article .featured-image-container:after {
  clear: none;
}
.archive article .featured-image-container-full {
  margin: 0 0 .75em;
}
.archive article .featured-image-container-full img {
  display: block;
  /* for IE */

  zoom: 1;
  margin: 0;
}
.archive article .featured-image-container-full img:before,
.archive article .featured-image-container-full img:after {
  content: "";
  display: table;
}
.archive article .featured-image-container-full img:after {
  clear: both;
}
.archive article .featured-image-container-thumb {
  width: 22.928176794%;
  margin: 0 1.5em 0 0;
  max-width: 96px;
  position: relative;
  float: left;
}
.archive article .featured-image-container-thumb a {
  display: block;
}
.archive article .featured-image-container-thumb a img {
  height: auto;
  margin: 0;
}
.archive article .headline {
  font-size: 1.5em;
  line-height: 1;
  margin: 0.5em 0;
  font-family: 'Alegreya', "Georgia", Cambria, Times New Roman, Times, serif;
  margin: 0;
}
.archive article .top-headline {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
  font-family: 'Alegreya', "Georgia", Cambria, Times New Roman, Times, serif;
}
.archive article .byline {
  margin: 0.75em 0;
}
.archive article .dek {
  display: block;
}
.archive article .dek p {
  margin: 0 0 1.5em;
}
/* archive page */
.post-type-archive .top-archive-article {
  border-bottom: 0.0625em solid #cccccc;
  margin: 0 0 3em 0;
}
/* post type archive */
/* news article type archive */
/* sports article type archive */
/* living article type archive */
/* ae article type archive */
/* opinion article type archive */
/* date archive page */
/* replace the number to the corresponding page number */
/* search page */
/* search result page */
/* no results search page */
/* individual paged search (i.e. body.search-paged-3) */
/* 404 page */
.single .single-title {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
}
.single .authors {
  font-family: 'Alegreya SC';
  border-right: 0.0625em solid #cccccc;
  padding-right: 0.75em;
}
.single time {
  padding-left: 0.75em;
}
.single #related-posts-container {
  -webkit-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
  padding: 1.5em;
  margin-bottom: 3em;
}
/* single post page */
.single-multimedia .single-video {
  margin: 0 0 1.5em;
}
/* end single multimedia */
.page-template-documentary-php {
  /* "Branded" Documentary Page */

  /* end .page-branded */

}
.page-template-documentary-php.page-branded .page-title {
  font-size: 9em /* 144px @ 16px base */
;
}
/* end documentary template */
.post-type-archive-multimedia,
.post-type-archive-slideshow,
.single-multimedia,
.single-slideshow {
  /* end #main */

}
.post-type-archive-multimedia #main,
.post-type-archive-slideshow #main,
.single-multimedia #main,
.single-slideshow #main {
  /* end .article-container */

}
.post-type-archive-multimedia #main .mgallery-row,
.post-type-archive-slideshow #main .mgallery-row,
.single-multimedia #main .mgallery-row,
.single-slideshow #main .mgallery-row {
  /* for IE */

  zoom: 1;
}
.post-type-archive-multimedia #main .mgallery-row:before,
.post-type-archive-slideshow #main .mgallery-row:before,
.single-multimedia #main .mgallery-row:before,
.single-slideshow #main .mgallery-row:before,
.post-type-archive-multimedia #main .mgallery-row:after,
.post-type-archive-slideshow #main .mgallery-row:after,
.single-multimedia #main .mgallery-row:after,
.single-slideshow #main .mgallery-row:after {
  content: "";
  display: table;
}
.post-type-archive-multimedia #main .mgallery-row:after,
.post-type-archive-slideshow #main .mgallery-row:after,
.single-multimedia #main .mgallery-row:after,
.single-slideshow #main .mgallery-row:after {
  clear: both;
}
.post-type-archive-multimedia #main .article-container,
.post-type-archive-slideshow #main .article-container,
.single-multimedia #main .article-container,
.single-slideshow #main .article-container {
  margin-bottom: 1.5em;
  -webkit-box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.5);
  /* end article */

}
.post-type-archive-multimedia #main .article-container:hover,
.post-type-archive-slideshow #main .article-container:hover,
.single-multimedia #main .article-container:hover,
.single-slideshow #main .article-container:hover {
  background-color: #393939;
}
.post-type-archive-multimedia #main .article-container article,
.post-type-archive-slideshow #main .article-container article,
.single-multimedia #main .article-container article,
.single-slideshow #main .article-container article {
  margin: 1.5em;
}
.post-type-archive-multimedia #main .article-container article header,
.post-type-archive-slideshow #main .article-container article header,
.single-multimedia #main .article-container article header,
.single-slideshow #main .article-container article header,
.post-type-archive-multimedia #main .article-container article section,
.post-type-archive-slideshow #main .article-container article section,
.single-multimedia #main .article-container article section,
.single-slideshow #main .article-container article section {
  margin: 0 0 1.5em;
}
.post-type-archive-multimedia #main .article-container article .headline,
.post-type-archive-slideshow #main .article-container article .headline,
.single-multimedia #main .article-container article .headline,
.single-slideshow #main .article-container article .headline {
  margin: 0 0 0.75em;
}
/* common styles btwn multimedia and slideshows section archives */
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px;
}
/*
		This is a combination of the 1140 grid and Twitter Boostrap.
		I liked 1140 but Boostrap's grid was way more detailed so
		I merged them together, let's see how this works out.
		If you want to use 1140, the original values are commented
		out on each line.
	*/
.onecol {
  width: 5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.twocol {
  width: 14.364640883%;
}
/* 13.45%; } /* grid_2  */
.threecol {
  width: 22.928176794%;
}
/* 22.05%; } /* grid_3  */
.fourcol {
  width: 31.491712705%;
}
/* 30.75%; } /* grid_4  */
.fivecol {
  width: 40.055248616%;
}
/* 39.45%; } /* grid_5  */
.sixcol {
  width: 48.618784527%;
}
/* 48%;    } /* grid_6  */
.sevencol {
  width: 57.182320438%;
}
/* 56.75%; } /* grid_7  */
.eightcol {
  width: 65.745856349%;
}
/* 65.4%;  } /* grid_8  */
.ninecol {
  width: 74.309392260%;
}
/* 74.05%; } /* grid_9  */
.tencol {
  width: 82.872928171%;
}
/* 82.7%;  } /* grid_10 */
.elevencol {
  width: 91.436464082%;
}
/* 91.35%; } /* grid_11 */
.twelvecol {
  width: 99.999999993%;
}
/* 100%;   } /* grid_12 */
/* layout & column defaults */
.onecol,
.twocol,
.threecol,
.fourcol,
.fivecol,
.sixcol,
.sevencol,
.eightcol,
.ninecol,
.tencol,
.elevencol,
.twelvecol {
  position: relative;
  float: left;
  margin-left: 2.762430939%;
}
.first {
  margin-left: 0;
}
.last {
  float: right;
}
.two-column-container {
  background: url("../images/1px-cccccc.png") repeat-y scroll 50% center transparent;
  margin-bottom: 3em;
}
/* push classes */
.push_one {
  margin-left: 8.563535911%;
}
/* 4.85%;  } /* grid_1  */
.push_two {
  margin-left: 17.127071822%;
}
/* 13.45%; } /* grid_2  */
.push_three {
  margin-left: 25.690607733%;
}
/* 22.05%; } /* grid_3  */
.push_four {
  margin-left: 34.254143644%;
}
/* 30.75%; } /* grid_4  */
.push_five {
  margin-left: 42.817679555%;
}
/* 39.45%; } /* grid_5  */
.push_six {
  margin-left: 51.381215466%;
}
/* 48%;    } /* grid_6  */
.push_seven {
  margin-left: 59.944751376999996%;
}
/* 56.75%; } /* grid_7  */
.push_eight {
  margin-left: 68.50828728799999%;
}
/* 65.4%;  } /* grid_8  */
.push_nine {
  margin-left: 77.071823199%;
}
/* 74.05%; } /* grid_9  */
.push_ten {
  margin-left: 85.63535911%;
}
/* 82.7%;  } /* grid_10 */
.push_eleven {
  margin-left: 94.198895021%;
}
/* 91.35%; } /* grid_11 */
.push_twelve {
  margin-left: 102.762430932%;
}
/* 100%;   } /* grid_12 */
/* pull classes */
.pull_one {
  margin-left: -8.563535911%;
}
/* 4.85%;  } /* grid_1  */
.pull_two {
  margin-left: -17.127071822%;
}
/* 13.45%; } /* grid_2  */
.pull_three {
  margin-left: -25.690607733%;
}
/* 22.05%; } /* grid_3  */
.pull_four {
  margin-left: -34.254143644%;
}
/* 30.75%; } /* grid_4  */
.pull_five {
  margin-left: -42.817679555%;
}
/* 39.45%; } /* grid_5  */
.pull_six {
  margin-left: -51.381215466%;
}
/* 48%;    } /* grid_6  */
.pull_seven {
  margin-left: -59.944751376999996%;
}
/* 56.75%; } /* grid_7  */
.pull_eight {
  margin-left: -68.50828728799999%;
}
/* 65.4%;  } /* grid_8  */
.pull_nine {
  margin-left: -77.071823199%;
}
/* 74.05%; } /* grid_9  */
.pull_ten {
  margin-left: -85.63535911%;
}
/* 82.7%;  } /* grid_10 */
.pull_eleven {
  margin-left: -94.198895021%;
}
/* 91.35%; } /* grid_11 */
.pull_twelve {
  margin-left: -102.762430932%;
}
/* 100%;   } /* grid_12 */
.pull_one.first {
  margin-left: -5.801104972%;
}
/* 4.85%;  } /* grid_1  */
.pull_two.first {
  margin-left: -14.364640883%;
}
/* 13.45%; } /* grid_2  */
.pull_three.first {
  margin-left: -22.928176794%;
}
/* 22.05%; } /* grid_3  */
.pull_four.first {
  margin-left: -31.491712705%;
}
/* 30.75%; } /* grid_4  */
.pull_five.first {
  margin-left: -40.055248616%;
}
/* 39.45%; } /* grid_5  */
.pull_six.first {
  margin-left: -48.618784527%;
}
/* 48%;    } /* grid_6  */
.pull_seven.first {
  margin-left: -57.182320438%;
}
/* 56.75%; } /* grid_7  */
.pull_eight.first {
  margin-left: -65.745856349%;
}
/* 65.4%;  } /* grid_8  */
.pull_nine.first {
  margin-left: -74.30939226%;
}
/* 74.05%; } /* grid_9  */
.pull_ten.first {
  margin-left: -82.872928171%;
}
/* 82.7%;  } /* grid_10 */
.pull_eleven.first {
  margin-left: -91.436464082%;
}
/* 91.35%; } /* grid_11 */
.pull_twelve.first {
  margin-left: -99.999999993%;
}
/* 100%;   } /* grid_12 */
/* Masonry */
.mason .mason-twelvecol {
  width: 99.999999993%;
  position: relative;
  float: left;
  margin-left: 2.762430939%;
  margin-left: 0;
}
.mason .mason-sixcol {
  width: 48.618784527%;
  position: relative;
  float: left;
  margin-left: 2.762430939%;
  margin-left: 0;
}
.mason .mason-fourcol {
  width: 31.491712705%;
  position: relative;
  float: left;
  margin-left: 2.762430939%;
  margin-left: 0;
}
/* end .mason */
/******************************************************************
H1, H2, H3, H4, H5, H6 STYLES
******************************************************************/
h1,
.h1 {
  font-size: 3.429em;
  line-height: 1;
  margin: 0.2em 0;
}
h2,
.h2 {
  font-size: 3em;
  line-height: 1;
  margin: 0.25em 0;
}
h3,
.h3 {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
}
h4,
.h4 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0.5em 0;
}
h5,
.h5 {
  font-size: 1.250em;
  line-height: 1.2;
  margin: 0.5em 0;
}
h6,
.h6 {
  font-size: 1.000em;
  line-height: 1.500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 300;
}
/*********************
IMAGE & VIDEO STYLES
*********************/
img {
  margin: 0 0 1.5em 0;
}
.video-container {
  margin: 0 0 0.75em;
}
.columnist-headshot-container {
  margin: 0 0 1.5em 1.5em;
}
/*********************
HEADER SYTLES
*********************/
.header {
  /* keeps header the same proportions no matter what size the viewport */

  font-size: 87.5%;
  line-height: 1.428571429;
}
#top-header {
  margin: 1.5em 0 0;
}
#top-header #logo {
  /*
			the logo above the red line is too cluttered.
			position: relative;
			top: 0.8em;
			z-index: 999; */

}
#top-header #tagline-social-container {
  display: inline-block;
  margin-left: 1em;
  position: relative;
  top: -0.8em;
}
#top-header #tagline-social-container .header-social {
  /* this is .h1 styling but ie.less won't compile because it doesn't understand that class reference */

  text-rendering: optimizelegibility;
  font-weight: 600;
  font-size: 3.000em;
  line-height: 0.7em;
}
#top-header #tagline-social-container .header-social a {
  color: #666666;
}
#top-header #tagline-social-container #site-tagline {
  margin: 0.5em 0;
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: white;
}
/* end #top-header */
/* SEARCH BOX STYLES */
#searchform {
  float: right;
  margin: 0 0 1em 0;
  position: relative;
  width: 33%;
}
.outer-line {
  margin-bottom: 0;
}
/*********************
NAVIGATION STYLES
*********************/
.nav {
  background: #eee;
  border: 0;
  /* end .menu ul li */

  /* highlight current page */

  /* end current highlighters */

}
.nav li {
  float: left;
  position: relative;
  /*
		plan your menus and drop-downs wisely.
		*/

  /* showing sub-menus */

}
.nav li a {
  border-bottom: 0;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/

}
.nav li a:hover,
.nav li a:focus {
  background-color: #b70000;
}
.nav li ul.sub-menu,
.nav li ul.children {
  width: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */

}
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/

}
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
.nav li:hover ul {
  top: auto;
  display: block;
}
/* end .nav */
/* Cancel FlexNav for 768+ */
.js .menu-button {
  display: none;
}
.js #menu-top-navigation {
  display: block;
}
#menu-top-navigation {
  font-weight: 600;
  text-transform: uppercase;
  background-color: #000000;
  margin: 0;
  /* border-bottom: 1px solid #ccc; */

}
#menu-top-navigation li {
  position: relative;
  float: left;
  width: auto;
  /*
		plan your menus and drop-downs wisely.
		*/

  /* showing sub-menus */

}
#menu-top-navigation li a {
  border-bottom: 0;
  margin: 0;
  background-color: black;
  padding-top: 0.5em;
  /*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/

}
#menu-top-navigation li a:hover,
#menu-top-navigation li a:focus {
  background-color: #cc0000;
  color: black;
}
#menu-top-navigation li ul.sub-menu,
#menu-top-navigation li ul.children {
  width: 200px;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  display: none;
  z-index: 8999;
  /* highlight sub-menu current page */

}
#menu-top-navigation li ul.sub-menu li,
#menu-top-navigation li ul.children li {
  /*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/

}
#menu-top-navigation li ul.sub-menu li a,
#menu-top-navigation li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
#menu-top-navigation li ul.sub-menu li:last-child a,
#menu-top-navigation li ul.children li:last-child a {
  border-bottom: 0;
}
#menu-top-navigation li:hover ul {
  top: auto;
  display: block;
}
#menu-top-navigation .menu-parent-item {
  background: none;
  border-bottom: none;
}
#menu-top-navigation .menu-parent-item a {
  position: relative;
  display: block;
  z-index: 0;
}
/*************************
FLEX TETRODO STYLES
**************************/
#section-box-featured {
  margin-bottom: 3em;
}
/* .flexslider {

	.headline {
		.textShadow();
	}

	.dek {
		.textShadow();
	}
} */
/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  padding: 1.5em 0 9em;
}
#content.has-banner {
  padding-top: 0;
}
p {
  margin-bottom: 1.5em;
}
.hentry footer {
  border-bottom: 0.0625em solid #cccccc;
  padding-bottom: 1.5em;
  margin-bottom: 3em;
}
.single-section-name {
  font-size: 2.25em;
  line-height: 1.333333;
  margin: 0.333333em 0;
  border-bottom: 0.0625em solid #cccccc;
  padding: 0;
  margin: auto 0 1.5em;
}
.post-content {
  margin: 0 0 3em;
  /* end .wp-caption */

}
.post-content dd {
  margin-bottom: 1.5em;
}
.post-content pre,
.post-content code {
  border: 0.0625em solid #cccccc;
}
.post-content .single-featured-image-full-container {
  border-bottom: none;
  padding-bottom: 0.75em;
  font-size: 0.875em;
  /* 14px */

}
.post-content blockquote.blockquote-full {
  float: left;
  width: 33.333%;
  margin: 0 0.75em 0.75em 0;
  background: #EEE;
  padding: 1em;
}
.post-content blockquote.blockquote-full hr {
  display: block;
}
.post-content blockquote.blockquote-full p {
  margin: 0;
}
.post-content blockquote.blockquote-full .blockquote-cite {
  font-size: 0.625em;
}
.post-content .wp-caption {
  padding: 0.375em;
  /* this is the caption itself */

}
.post-content .wp-caption p.wp-caption-text {
  margin: 0.375em;
}
/* end post-content */
.post-category-list-container {
  font-size: 1.000em;
  line-height: 1.500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 300;
}
/******************************************************************
COMMENT STYLES
******************************************************************/
.commentlist {
  /* vcard */

  /* end .commentlist .vcard */

  /* comment content */

  /* end .commentlist .comment_content */

  /* comment reply link */

  /* end .commentlist .comment-reply-link */

}
.commentlist li {
  margin-bottom: 1.5em;
  padding: 0.75em 0.625em;
}
.commentlist li[class*=depth-] {
  margin-top: 1.5em;
}
.commentlist li:not(.depth-1) {
  margin-right: -0.625em;
  margin-left: -0.625em;
}
.commentlist .vcard {
  margin-left: 3.125em;
}
.commentlist .vcard img.avatar {
  left: 0.625em;
  padding: 0.125em;
  border: 0.0625em solid #cccccc;
}
.commentlist .comment_content {
  margin-left: 3.125em;
}
.commentlist .comment_content p {
  margin: 0.75em 0 1.5em;
  line-height: 1.429;
}
.commentlist .comment-reply-link {
  padding: 0.3125em;
  margin-bottom: 0.625em;
}
/* end .commentlist */
/******************************************************************
COMMENT FORM STYLES
******************************************************************/
.respond-form {
  margin: 1.5em 0.625em;
  padding-bottom: 3em;
}
.respond-form form li {
  margin-bottom: 0.75em;
}
.respond-form form input[type=text],
.respond-form form input[type=email],
.respond-form form input[type=url],
.respond-form form textarea {
  padding: 0.1875em 0.375em;
  border: 0.125em solid #cccccc;
  line-height: 1.5em;
  margin: 0 1.5em;
}
.respond-form form textarea {
  height: 9.375em;
  margin: 1.5em 0;
}
/* comment form title */
#comment-form-title {
  margin: 0 0 1.5em;
}
/* allowed tags */
#allowed_tags {
  margin: 1.5em 0.625em 0.75em 0;
}
/* no comments */
.nocomments {
  margin: 0 1.25em 1.5em;
}
/***********************************
SIDEBARS & ASIDES & WIDGETIZED AREAS
************************************/
.sidebar {
  display: block;
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#sidebar1 {
  padding-top: 0;
  border-top: none;
}
#sidebar1 .widget:first-child {
  margin: 0 auto auto;
}
#widgetized-front-center {
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#widgetized-front-center .widget_tptn_pop ul,
#widgetized-front-center .widget_tptn_pop_daily ul {
  list-style: none;
  padding: 0;
  font-size: 75%;
  line-height: 1.333;
}
.widgettitle {
  font-size: 1.000em;
  line-height: 1.500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 300;
  border-bottom: 0.0625em solid #cccccc;
  padding: 0.75em 0;
  margin-bottom: 1.4375em;
}
.widget {
  padding: 0 10px;
  margin: 1.5em 0;
}
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */

}
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1.5em;
}
/* polls widget */
.widget_polls-widget ul li {
  display: none;
}
.widget_polls-widget .wp-polls-ul li {
  display: block;
}
.widget_polls-widget .wp-polls-ul li i {
  font-style: normal;
}
.widget_polls-widget .wp-polls-ul li label {
  font-weight: 400;
}
/* links widget & home top links */
.widget_links ul,
.menu--home-links ul {
  font-size: 1.5em;
  line-height: 1;
  margin: 0.5em 0;
  font-weight: 600;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.widget_links ul li,
.menu--home-links ul li {
  margin: 0;
}
/* home top links */
.menu--home-links h4 {
  font-size: 1.000em;
  line-height: 1.500;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 300;
  border-bottom: 0.0625em solid #cccccc;
  padding: 0.75em 0;
  margin-bottom: 1.4375em;
}
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/* twitter widget pro */
/* http://bluedogwebservices.com/wordpress-plugin/twitter-widget-pro/ */
.widget_twitter div {
  padding: 0;
  /* end .intent-meta */

}
.widget_twitter div ul {
  list-style: none;
  padding: 0;
  font-size: 75%;
  /* 12px */

  line-height: 1.333;
}
.widget_twitter div ul li {
  /* for IE */

  zoom: 1;
  margin-bottom: 0.75em;
  padding-bottom: 0.75em;
  border-bottom: 0.0625em solid #cccccc;
  display: block;
}
.widget_twitter div ul li:before,
.widget_twitter div ul li:after {
  content: "";
  display: table;
}
.widget_twitter div ul li:after {
  clear: both;
}
.widget_twitter div .follow-button,
.widget_twitter div .xavisys-link {
  margin: 0 10px 10px 25px;
}
.widget_twitter div .entry-content,
.widget_twitter div .entry-meta,
.widget_twitter div .intent-meta {
  display: block;
  margin: auto 1.6em;
}
.widget_twitter div .entry-content {
  /* for IE */

  zoom: 1;
  padding: 0 0 5px;
}
.widget_twitter div .entry-content:before,
.widget_twitter div .entry-content:after {
  content: "";
  display: table;
}
.widget_twitter div .entry-content:after {
  clear: both;
}
.widget_twitter div .entry-meta {
  font-size: 80%;
  line-height: 1.6;
  text-align: right;
  font-weight: 600;
  float: right;
}
.widget_twitter div .intent-meta {
  float: left;
}
.widget_twitter div .intent-meta a {
  background: url(../images/everything-spritev2.png);
  /** from Twitter resources */

  display: inline-block;
  height: 16px;
  text-indent: -9999px;
  width: 16px;
}
.widget_twitter div .intent-meta a.in-reply-to {
  background-position: 0 center;
}
.widget_twitter div .intent-meta a:hover.in-reply-to {
  background-position: -16px center;
}
.widget_twitter div .intent-meta a.favorite {
  background-position: -32px center;
}
.widget_twitter div .intent-meta a:hover.favorite {
  background-position: -48px center;
}
.widget_twitter div .intent-meta a.retweet {
  background-position: -80px center;
}
.widget_twitter div .intent-meta a:hover.retweet {
  background-position: -96px center;
}
/* end twitter widget pro */
/*********************
FOOTER STYLES
*********************/
.footer {
  padding-top: 1.5em;
}
.footer p {
  font-size: 0.875em;
  /* 14px */

}
#inner-footer {
  margin: 1.5em auto;
}
/* left column */
#footer-column-center {
  text-align: center;
}
#footer-column-center #footer-links-sections,
#footer-column-center #footer-links-meta {
  margin: 1.5em auto;
}
/* end left column */
/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/
.documentary-banner h2 {
  font-size: 8em;
}
.weekender-text-banner {
  font-size: 7.125rem;
}
.bar-guide-text-banner {
  font-size: 4.5rem;
}
.music-issue-text-banner {
  font-size: 6.000em;
}
.single-top-promo .bar-guide-text-banner {
  font-size: 4.5rem;
}
/****************
 * BODY CLASSES *
 ****************/
.page-template-documentary-php {
  /* "Branded" Documentary Page */

  /* end .page-branded */

}
.page-template-documentary-php.page-branded .page-title {
  font-size: 12em /* 192px @ 16px base */
;
}
/* end documentary template *//******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Rectangle Ads Stylesheet

This stylesheet should only be used to apply to the display of
300x250 rectangle ads in columns with a width of four units -
at any lower resolution they will not fit.

******************************************************************/
.ad,
.ad-container,
#ad-topnavbar,
.rectangle-ad-container {
  display: block;
}
.ad-container {
  padding: 1.5em 0;
}
.ad {
  text-align: center;
  font-family: 'Source Sans Pro', 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.three-column-container {
  border-bottom: 0.0625em solid #cccccc;
}
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
