/*------------------------------------*\
    LUNCHIES 2013: HEADER
\*------------------------------------*/

.page-header {
  background-color: $color__zeta;
  height: 100vh;
}

  .page-header__presents {
    @extend .kilo;
    text-align: center;
    font-family: $font-stack__presents;
  }

  .page-header__brand {}

    .page-header__brand__title {}

    .page-header__brand__image {
      max-width: 1300px;
      padding: $base-spacing-unit * 6 $base-spacing-unit * 2 0;
      margin: 0 auto;

      img {
        text-align: center;
      }
    }
