/*------------------------------------*\
    LUNCHIES 2013: STAFF FAVORITES
\*------------------------------------*/

.staff-favorites-list__item {
  font-size: 12px;
  text-align: center;
}

  .staff-favorites-list__item__staff-member__name,
  .staff-favorites-list__item__caption__dish {
    font-weight: bold;
  }
