/*------------------------------------*\
    TTN: BASE: LINKS
\*------------------------------------*/


a {
  &,
  &:visited {
    color: $color-alpha;
    text-decoration: none;
    @include vendor(transition, all 250ms linear);
  }

  &:hover,
  &:focus {
    color: $color-gray--dark;
  }

  &:link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}
