/*------------------------------------*\
    REUNION 2013: VARS
\*------------------------------------*/





/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/

$responsive: true;
$mobile-first: true;
$use-silent-classes: true;
$push: true;
$breakpoints: (
    'palm' '(max-width: 480px)',
    'lap' '(min-width: 481px) and (max-width: 1023px)',
    'lapandup' '(min-width: 481px)',
    'portable' '(max-width: 1023px)',
    'desk' '(min-width: 1024px)'
);




/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/

