/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/

.weekender-text-banner {
	font-size: 7.125rem; // 114px @ 16px rem
}

.bar-guide-text-banner {
	font-size: 4.5rem; // 72px @ 16px rem
}

.music-issue-text-banner {
	font-size: 6.000em; // 96px @ 16px 
}



.single-top-promo {
	.bar-guide-text-banner {
		font-size: 4.5rem; // 72px @ 16px rem
	}
}

/****************
 * BODY CLASSES *
 ****************/

.page-template-documentary-php {

	/* "Branded" Documentary Page */
	&.page-branded {

		.page-title {
			font-size: 12em /* 192px @ 16px base */
		}
	} /* end .page-branded */

} /* end documentary template */