/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery (@montchr, mont.chr@gmail.com)

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	// 16px/24px
	font-size: 100%;
	line-height: 1.5;
}

.hoz-rule-third { border-bottom: @niceborders-l; }


/***********************
ADVERTS AND SOCIAL MEDIA
************************/

.ttn-network-banner,
.ttn-network-feed {
	border-top: none;
	border-bottom: none;
	margin: 0 0 @lhem-l;
}

.ttn-network-banner {

}

.ttn-network-feed {
	padding: (@lhem-l/2-@1px-l) 1em;
	.boxShadow-curved();

	.network-feed-title {
		.h1;
	}

	.network-feed-subtitle {
		.h6;
		font-weight: 500;
		text-transform: none;
	}

	ul {
		font-size: 87.5%;
		line-height: @lh-l;

		padding: 0;
		list-style: none;

		li {
			margin: @lhem-l 0;
		}
	}
}

.ad-container {
	.ad > div {
		margin: 0 auto;
	}
}

/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/

.documentary-banner {
	h2 {
		font-size: 8em;
	}
}

.weekender-text-banner {
	font-size: 4.500rem; // 72px @ 16px rem
}

.bar-guide-text-banner {
	font-size: 4.5rem; // 72px @ 16px rem
}

.music-issue-text-banner {
	font-size: 4.500em; // 72px @ 16px
}

.single-top-promo {
	.bar-guide-text-banner {
		font-size: 3.5rem; // 60px @16px rem
	}
}




.single-article_sports {
	.the-american-spreadsheet {
		margin: 0 0 1.5em 1.5em;
		float: right;
		max-width: 50%;
	}
}




#main.the-essayist {

	&.essayist-archive,
	&.essay {

		article {

			.byline {
				text-align: center;
				font-size: 1.875em; // 30px @ 16px base
				margin-bottom: 0;

				a {
					color: @blackIsh;

					&:hover,
					&:active {
						color: @thatred;
					}
				} /* end a */
			} /* end .byline */

			.dek {
				font-size: 1.25em; // 20px @ 16px base
			}
		} /* end .post */
	} /* end essayist-archive and essay */

	&.essayist-archive {

		h2.essayist-text-banner {
			font-size: 160px;
		}

		#special-issue-description,
		article {
			margin-bottom: 4.5em; // 72px @ 16px base
		}

		#special-issue-description {
			font-size: 1.5rem; // 24px @ 16px base
		}
	} /* end essayist-archive */

	&.essay {

		header {
			margin: 0 auto;
			float: none;
			text-align: center;
		}

		.post-content {
			font-size: 1.25em; // 20px @ 16px base
		}

	} /* end essay */
} /* end .the-essayist */





.bar-guide {

	.fittext,
	.slabtextthis {
		text-align: left;
	}

	#bar-guide-map {

		iframe {
			height: 600px;
		}
		
	}

	article {
		.headline {
			text-align: left;
		}

		.headshot {
			display: block;
			float: left;
			padding-right: 1em;
		}
	}
} /* end .bar-guide */

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}
.home {

	#column-center {
		.boxShadow( @radius: 12px, @spread: 4px );
		position: relative;
		top: -1.5em;
		
		#column-center-inner {
			padding: @lhem-l;
		}
	}

	.slide-image {
		float:left;
		position: relative;
	}
	
	.wooslider {
		
	}

	#section-box-featured-multimedia,
	#section-box-featured-slideshow,
	#section-box-print,
	#section-box-featured-links,
	#widgetized-front-center {
		display: block;
	}
	
	.section-box-featured {
	
		.section-box-featured-title {
			font-weight: 300;
		}
	
		&#section-box-featured-content {
			margin-bottom: (@lhem-l*2);
		}
		
		&#section-box-featured-multimedia,
		&#section-box-featured-slideshow {
			
			.headline {
				font-family: @sans-serif;
			}
		}
		
		&#section-box-featured-slideshow {
			a {
				display: block;
			}
		}
	}
	
	.section-box-title {
		/* border-top: @niceborders-l; */
		border-bottom: @niceborders-l;
		padding: (@lhem-l/2) 0;
		margin-bottom: (@lhem-l)-@1px-l;
		.textShadow();
		
		a:hover {
			.textShadow( @x: 4px, @y: 4px );
			position: relative;
			top: -1px;
			left: -1px;
		}
		
		a:active {
			.textShadow( @x: 3px, @y: 3px );
			position: relative;
			top: 1px;
			left: 1px;
		}
	}
	
	#links-print-edition span {
		font-family: @sans-serif;
		font-weight: 600;
	}
	
	#menu-top-links {
		list-style: none;
		margin: 0;
		text-align: right;
		
		li {
			width: 100%;
		}
	}
	
	article {
		margin-bottom: @lhem-l;
		
		.featured-image-container-thumb {
			width: 96px;
			margin: 0 @lhem-l @lhem-l 0;
		}
		
		.headline {
			.h4;
			margin: 0 0 0.25em;
		}
		
		.top-headline {
			.h3;
		}
		
		.dek {
			display: block;
			
			p {
				margin-top: 0;
			}
		}
	}

	#section-box-opinion {
		
		article {
			text-align: center;
			
			.featured-image-container-thumb {
				width: auto;
				margin: @lhem-l auto;
				position: static;
				float: none;
				
				& a,
				& img {
					display: block;
				}
			}
			
			.headline {
				.h5;
			}
		}
	} /* end .home #section-box-opinion */
	
	#section-box-multimedia {
		
		#multimedia-mgallery {
		
			article {
				border-bottom: none;
			}
		
			.multimedia-mgallery-main {
				
				header {
					margin: 0 0 @lhem-l;
					
					.headline {
						margin: 0;
					}
				}	
			} /* end .multimedia-mgallery-main */
		} /* end #multimedia-mgallery */
	} /* end #section-box-multimedia */
	
	#section-box-slideshows {
		
		#slideshows-mgallery {
		
			article {
				border-bottom: none;
				
				.home-slideshows-headline {
					margin: 0;
				}
			}
			
			.slideshows-mgallery-main {
				
				header {
					margin: 0 0 @lhem-l;
					
					.headline {
						margin: 0;
					}
				}
			} /* end .slideshows-mgallery-main */
		} /* end #slideshows-mgallery */
	} /* end #section-box-slideshows */
}                            /* home page */
.blog {}                            /* blog page */
.archive {
	.archive-main-title {
		.h3;
		border-bottom: @niceborders-l;
		padding: 0;
		margin: auto 0 @lhem-l;
		
		.archive-breadcrumb {
			font-weight: 300;
			font-size: 0.750em; /* 12px */
		}
	}
	
	article {
		margin-bottom: @lhem-l;
		
		header,
		.dek,
		.post-category-list-container,
		.headline,
		.featured-image-container {
			.clearfix;
			
			&:after {
				clear: none;
			}
		}
		
		.featured-image-container-full {
			margin: 0 0 .75em;
			
			img {
				display: block;
				.clearfix;
				margin: 0;
			}
		}
		
		.featured-image-container-thumb {
			width: 22.928176794%;
			margin: 0 @lhem-l 0 0;
			max-width: 96px;
			position: relative;
			float: left;
			
			a {
				display: block;
				
				img {
					height: auto;
					margin: 0;
				}
			}
		} /* end .featured-image-container-thumb */
		
		.headline {
			.h4;
			font-family: @serif;
			margin: 0;
		}
		
		.top-headline {
			.h3;
			font-family: @serif;
		}
		
		.byline {
			margin: (@lhem-l/2) 0;
		}
		
		.dek {
			display: block;
			
			p {
				margin: 0 0 @lhem-l;
			}
		}
	} /* end article */
}                         /* archive page */
.post-type-archive {
	.top-archive-article {
		border-bottom: @niceborders-l;
		margin: 0 0 (@lhem-l*2) 0;
	}
}                          /* post type archive */
	.post-type-archive-article_news {}         /* news article type archive */
	.post-type-archive-article_sports {}       /* sports article type archive */
	.post-type-archive-article_living {}       /* living article type archive */
	.post-type-archive-article_ae {}           /* ae article type archive */
	.post-type-archive-article_opinion {}      /* opinion article type archive */
.date {}                            /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                          /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                        /* 404 page */
.single {

	.single-title {
		.h3;
	}
	
	.authors {
		.sc;
		border-right: @niceborders-l;
		padding-right: (@lhem-l/2);	
	}
	
	time {
		padding-left: (@lhem-l/2);
	}
	
	#related-posts-container {
		.boxShadow(@x: 3px, @y: 3px, @radius: 6px);
		padding: @lhem-l;
		margin-bottom: (@lhem-l*2);
	}
}                          /* single post page */


	.single-multimedia {
		
		.single-video {
			margin: 0 0 @lhem-l;
		}
	} /* end single multimedia */

.page-template-documentary-php {

	/* "Branded" Documentary Page */
	&.page-branded {

		.page-title {
			font-size: 9em /* 144px @ 16px base */
		}
	} /* end .page-branded */

} /* end documentary template */
	
	
	
.post-type-archive-multimedia,
.post-type-archive-slideshow,
.single-multimedia,
.single-slideshow {
	#main {
	
		.mgallery-row {
			.clearfix;
		}
		
		.article-container {
			margin-bottom: @lhem-l;
			.boxShadow( @x: 5px, @y: 5px, @radius: 7px );
			
			&:hover {
				background-color: #393939;
			}
			
			article {
				margin: @lhem-l;
				
				header,
				section {
					margin: 0 0 @lhem-l;
				}
				
				.headline {
					margin: 0 0 (@lhem-l/2);
				}
			} /* end article */		
		} /* end .article-container */
	} /* end #main */
} /* common styles btwn multimedia and slideshows section archives */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}
	/*
		This is a combination of the 1140 grid and Twitter Boostrap.
		I liked 1140 but Boostrap's grid was way more detailed so
		I merged them together, let's see how this works out.
		If you want to use 1140, the original values are commented
		out on each line.
	*/
	
	@onecol    :  5.801104972%;
	@twocol    : 14.364640883%;
	@threecol  : 22.928176794%;
	@fourcol   : 31.491712705%;
	@fivecol   : 40.055248616%;
	@sixcol    : 48.618784527%;
	@sevencol  : 57.182320438%;
	@eightcol  : 65.745856349%;
	@ninecol   : 74.309392260%;
	@tencol    : 82.872928171%;
	@elevencol : 91.436464082%;
	@twelvecol : 99.999999993%;
	
	.onecol    { width:  5.801104972%; }       /* 4.85%;  } /* grid_1  */
	.twocol    { width: 14.364640883%; }       /* 13.45%; } /* grid_2  */
	.threecol  { width: 22.928176794%; }       /* 22.05%; } /* grid_3  */
	.fourcol   { width: 31.491712705%; }       /* 30.75%; } /* grid_4  */
	.fivecol   { width: 40.055248616%; }       /* 39.45%; } /* grid_5  */
	.sixcol    { width: 48.618784527%; }       /* 48%;    } /* grid_6  */
	.sevencol  { width: 57.182320438%; }       /* 56.75%; } /* grid_7  */
	.eightcol  { width: 65.745856349%; }       /* 65.4%;  } /* grid_8  */
	.ninecol   { width: 74.309392260%; }       /* 74.05%; } /* grid_9  */
	.tencol    { width: 82.872928171%; }       /* 82.7%;  } /* grid_10 */
	.elevencol { width: 91.436464082%; }       /* 91.35%; } /* grid_11 */
	.twelvecol { width: 99.999999993%; }       /* 100%;   } /* grid_12 */
	
	/* layout & column defaults */
	@grid_margin-left: 2.762430939%;
	
	.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol { 
		position: relative;
		float: left; 
		margin-left: @grid_margin-left;
	}
	
	.first {
		margin-left: 0;
	}
	
	.last {
		float: right;
	}
	
	.two-column-container {
		background: url("../images/1px-cccccc.png") repeat-y scroll 50% center transparent;
		margin-bottom: 3em;
	}
	
	/* push classes */
	.push_one    { margin-left:  (5.801104972% + @grid_margin-left); }       /* 4.85%;  } /* grid_1  */
	.push_two    { margin-left: (14.364640883% + @grid_margin-left); }       /* 13.45%; } /* grid_2  */
	.push_three  { margin-left: (22.928176794% + @grid_margin-left); }       /* 22.05%; } /* grid_3  */
	.push_four   { margin-left: (31.491712705% + @grid_margin-left); }       /* 30.75%; } /* grid_4  */
	.push_five   { margin-left: (40.055248616% + @grid_margin-left); }       /* 39.45%; } /* grid_5  */
	.push_six    { margin-left: (48.618784527% + @grid_margin-left); }       /* 48%;    } /* grid_6  */
	.push_seven  { margin-left: (57.182320438% + @grid_margin-left); } /* 56.75%; } /* grid_7  */
	.push_eight  { margin-left: (65.745856349% + @grid_margin-left); }  /* 65.4%;  } /* grid_8  */
	.push_nine   { margin-left: (74.309392260% + @grid_margin-left); }        /* 74.05%; } /* grid_9  */
	.push_ten    { margin-left: (82.872928171% + @grid_margin-left); }  /* 82.7%;  } /* grid_10 */
	.push_eleven { margin-left: (91.436464082% + @grid_margin-left); }       /* 91.35%; } /* grid_11 */
	.push_twelve { margin-left: (99.999999993% + @grid_margin-left); }       /* 100%;   } /* grid_12 */

	/* pull classes */	
	.pull_one    { margin-left:  -(5.801104972% + @grid_margin-left); }       /* 4.85%;  } /* grid_1  */
	.pull_two    { margin-left: -(14.364640883% + @grid_margin-left); }       /* 13.45%; } /* grid_2  */
	.pull_three  { margin-left: -(22.928176794% + @grid_margin-left); }       /* 22.05%; } /* grid_3  */
	.pull_four   { margin-left: -(31.491712705% + @grid_margin-left); }       /* 30.75%; } /* grid_4  */
	.pull_five   { margin-left: -(40.055248616% + @grid_margin-left); }       /* 39.45%; } /* grid_5  */
	.pull_six    { margin-left: -(48.618784527% + @grid_margin-left); }       /* 48%;    } /* grid_6  */
	.pull_seven  { margin-left: -(57.182320438% + @grid_margin-left); } /* 56.75%; } /* grid_7  */
	.pull_eight  { margin-left: -(65.745856349% + @grid_margin-left); }  /* 65.4%;  } /* grid_8  */
	.pull_nine   { margin-left: -(74.309392260% + @grid_margin-left); }        /* 74.05%; } /* grid_9  */
	.pull_ten    { margin-left: -(82.872928171% + @grid_margin-left); }  /* 82.7%;  } /* grid_10 */
	.pull_eleven { margin-left: -(91.436464082% + @grid_margin-left); }       /* 91.35%; } /* grid_11 */
	.pull_twelve { margin-left: -(99.999999993% + @grid_margin-left); }       /* 100%;   } /* grid_12 */
	
	   .pull_one.first { margin-left:  -(5.801104972%); }       /* 4.85%;  } /* grid_1  */
	   .pull_two.first { margin-left: -(14.364640883%); }       /* 13.45%; } /* grid_2  */
	 .pull_three.first { margin-left: -(22.928176794%); }       /* 22.05%; } /* grid_3  */
	  .pull_four.first { margin-left: -(31.491712705%); }       /* 30.75%; } /* grid_4  */
	  .pull_five.first { margin-left: -(40.055248616%); }       /* 39.45%; } /* grid_5  */
	   .pull_six.first { margin-left: -(48.618784527%); }       /* 48%;    } /* grid_6  */
	 .pull_seven.first { margin-left: -(57.182320438%); }       /* 56.75%; } /* grid_7  */
	 .pull_eight.first { margin-left: -(65.745856349%); }       /* 65.4%;  } /* grid_8  */
	  .pull_nine.first { margin-left: -(74.309392260%); }       /* 74.05%; } /* grid_9  */
	   .pull_ten.first { margin-left: -(82.872928171%); }       /* 82.7%;  } /* grid_10 */
	.pull_eleven.first { margin-left: -(91.436464082%); }       /* 91.35%; } /* grid_11 */
	.pull_twelve.first { margin-left: -(99.999999993%); }       /* 100%;   } /* grid_12 */

	/* Masonry */

	.mason {
		
		.mason-twelvecol {
			.twelvecol;
			margin-left: 0;
		}

		.mason-sixcol {
			.sixcol;
			margin-left: 0;
		}

		.mason-fourcol {
			.fourcol;
			margin-left: 0;
		}

	} /* end .mason */
	
	
	
/******************************************************************
H1, H2, H3, H4, H5, H6 STYLES
******************************************************************/

h1, .h1 { // 60px/72px
	font-size: 3.429em; 
	line-height: 1; 
	margin: 0.2em 0; 
}

h2, .h2 { // 48px/48px
	font-size: 3em; 
	line-height: 1;
	margin: 0.25em 0; 
}

h3, .h3 { // 36px/48px
	font-size: 2.25em; 
	line-height: 1.333333;
	margin: 0.333333em 0;
}

h4, .h4 { // 24px/24px
	font-size: 1.5em; 
	line-height: 1;
	margin: 0.5em 0;
}

h5, .h5 { // 20px/24px
	font-size: 1.250em;
	line-height: 1.2;
	margin: 0.5em 0;
}

h6, .h6 { // 16px/24px
	font-size: 1.000em;
	line-height: 1.500;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	font-weight: 300;
}

	
	
/*********************
IMAGE & VIDEO STYLES
*********************/

img { 
	margin: 0 0 @lhem-l 0; 
}

.video-container {
	margin: 0 0 (@lhem-l/2);
}

.columnist-headshot-container {
	margin: 0 0 @lhem-l @lhem-l;
}


/*********************
HEADER SYTLES
*********************/

.header {
	/* keeps header the same proportions no matter what size the viewport */
	font-size: 87.5%;
	line-height: 1.428571429;
}
	
	#top-header {
		margin: @lhem-l 0 0;
	
		#logo {
			/*
			the logo above the red line is too cluttered.
			position: relative;
			top: 0.8em;
			z-index: 999; */
		}
		
		#tagline-social-container {
			display: inline-block;
			margin-left: 1em;
			position: relative;
			top: -0.8em;
			
			.header-social {
				/* this is .h1 styling but ie.less won't compile because it doesn't understand that class reference */
				text-rendering : optimizelegibility;
				font-weight: 600;
				font-size: 3.000em; 
				line-height: 0.7em; 
				
				a {
					color: #666666;
				}
			}
		
			#site-tagline {
				margin: 0.5em 0;
				font-family: @sans-serif;
				font-weight: 600;
				color: white;
			}
		}
	} /* end #top-header */

/* SEARCH BOX STYLES */
	#searchform {
		float: right;
	    margin: 0 0 1em 0;
	    position: relative;
	    width: 33%;
		
		fieldset {

		}
		
		#s {

		}
	
		
		#searchsubmit {

		}
	}
	
	.outer-line {
		margin-bottom: 0;
	}
	
/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #eee; 
	border: 0;
			
	li {
		float: left;
		position: relative;
				
		a {
			border-bottom: 0;
					
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: #b70000;
					
			}
		}
				
		&:first-child {}
		&:last-child {}
				
		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			width: 200px;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;
						
			li {
		
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
							
					&:hover,
					&:focus {}
		
					&:link {}
				}
		
				&:first-child {}
	
				&:last-child {
		
					a {
						border-bottom: 0;
					}
				}
						
				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}
					
			/* highlight sub-menu current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}
				
		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}
				
	} /* end .menu ul li */
			
	/* highlight current page */
	li.current-menu-item, 
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */
	
} /* end .nav */


/* Cancel FlexNav for 768+ */
.js .menu-button {
	display: none;
}

.js #menu-top-navigation {
	display: block;	
}

#menu-top-navigation {
	font-weight: 600;
	text-transform: uppercase;
	background-color: #000000;
	margin: 0;
	/* border-bottom: 1px solid #ccc; */
	
	li {
		position: relative;
		float: left;
		width: auto;
		
		a {
			border-bottom: 0;
			margin: 0;
			background-color: black;
			padding-top: 0.5em;
			
					
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				background-color: @thatred;
				color: black;
					
			}
		}
				
		&:first-child {}
		&:last-child {}
				
		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			width: 200px;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			display: none;
			z-index: 8999;
						
			li {
		
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
							
					&:hover,
					&:focus {}
		
					&:link {}
				}
		
				&:first-child {}
	
				&:last-child {
		
					a {
						border-bottom: 0;
					}
				}
						
				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}
					
			/* highlight sub-menu current page */
			li.current-menu-item, 
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}
				
		/* showing sub-menus */
		&:hover ul {
			top: auto;
			display: block;
		}
	}
	
	.menu-parent-item {
		background: none;
		border-bottom: none; 
	}
	
	.menu-parent-item a {
		position: relative;
		display: block;
		z-index: 0;
	}
}



/*************************
FLEX TETRODO STYLES
**************************/

#section-box-featured {
	margin-bottom: (@lhem-l*2);
}

/* .flexslider {

	.headline {
		.textShadow();
	}
	
	.dek {
		.textShadow();
	}
} */


/*********************
POSTS & CONTENT STYLES
*********************/

#content { 
	padding: @lhem-l 0 (@lhem-l*6);
	
	&.has-banner {
		padding-top: 0;
	}
}

	p {
		margin-bottom: @lhem-l;
	}

	.hentry {

		footer {
			border-bottom: @niceborders-l;
			padding-bottom: @lhem-l;
			margin-bottom: (@lhem-l*2);
		}
	}
	
	.single-section-name {
		.h3;
		border-bottom: @niceborders-l;
		padding: 0;
		margin: auto 0 @lhem-l;
	}
	
	.post-content {
		margin: 0 0 (@lhem-l*2);
		
		dd {
			margin-bottom: @lhem-l;
		}
		
		pre, code {
			border: @niceborders-l;
		}
		
		.single-featured-image-full-container {
			border-bottom: none;
			padding-bottom: (@lhem-l/2);
			font-size: 0.875em; /* 14px */
		}

		blockquote {
			&.blockquote-full {
				float: left;
				width: 33.333%;
				margin: 0 @lhem-l/2 @lhem-l/2 0;
				background: #EEE;
				padding: 1em;

				hr {
					display: block;
				}

				p {
					margin: 0;
				}

				.blockquote-cite {
					font-size: 0.625em;
				}
			}
		}
		
		.wp-caption {
			padding: (@lhem-l/4);
			
			/* this is the caption itself */
			p.wp-caption-text {
				margin: (@lhem-l/4);
			}
			
		} /* end .wp-caption */

	} /* end post-content */
	
	.post-category-list-container {
		.h6;
	}
			
			
			
/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.page-navigation, 
.wp-prev-next { 
	margin: @lhem-l 0 @lhem-l;
}

	.bones_page_navi {
		.h5;
	}


/******************************************************************
COMMENT STYLES
******************************************************************/
		
.commentlist {
	
	li { 
		margin-bottom: @lhem-l; 
		padding: (@lhem-l/2) (@1px-l*10); 
	}
	
	li[class*=depth-] { 
		margin-top: @lhem-l; 
	}
	
	li:not(.depth-1) { 
		margin-right: -(@1px-l*10); 
		margin-left: -(@1px-l*10);
	}
			
	/* vcard */
	.vcard { 
		margin-left: (@1px-l*50); 
		
		img.photo {}
		
		img.avatar {
			left: (@1px-l*10); 
			padding: (@1px-l*2); 
			border: @niceborders-l; 	
		}
			
	} /* end .commentlist .vcard */
	
	/* comment content */
	.comment_content { 
		margin-left: (@1px-l*50); 
			
		p {
			margin: (@lhem-l/2) 0 @lhem-l; 
			line-height: @lh-s; 	
		}
		
	} /* end .commentlist .comment_content */
	
	/* comment reply link */
	.comment-reply-link { 
		padding: (@1px-l*5); 
		margin-bottom: (@1px-l*10);
	} /* end .commentlist .comment-reply-link */
					
} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form { 
	margin: @lhem-l (@1px-l*10); 
	padding-bottom: (@lhem-l*2); 
	
	form {
	
		li {
			margin-bottom: (@lhem-l/2);
		}
		
		input[type=text], 
		input[type=email], 
		input[type=url], 
		textarea { 
			padding: (@1px-l*3) (@1px-l*6); 
			border: (@1px-l*2) solid #ccc; 
			line-height: @lhem-l; 
			margin: 0 @lhem-l;
		}
		
		textarea {
			height: (@1px-l*150); 
			margin: @lhem-l 0;
		}
		
	}
}
	
	/* comment form title */
	#comment-form-title { 
		margin: 0 0 @lhem-l; 
	}
		
	/* allowed tags */
	#allowed_tags { 
		margin: @lhem-l (@1px-l*10) (@lhem-l/2) 0; 
	}		
	
	/* no comments */
	.nocomments { 
		margin: 0 (@1px-l*20) @lhem-l; 
	}	



/***********************************
SIDEBARS & ASIDES & WIDGETIZED AREAS
************************************/

.sidebar {
	display: block;
	font-family: @sans-serif;
}

	#sidebar1 {
		padding-top: 0;
		border-top: none;
	
		.widget:first-child {
			margin: 0 auto auto;
		}
	}
	
	#widgetized-front-center {
		font-family: @sans-serif;
	
		.widget_tptn_pop,
		.widget_tptn_pop_daily {
			
			ul {
				list-style: none;
				padding: 0;
				font-size: 75%;
				line-height: 1.333;
			}
			
		}
	}
	
	.widgettitle {
		.h6;
		font-weight: 300;
		border-bottom: @niceborders-l;
		padding: (@lhem-l/2) 0;
		margin-bottom: (@lhem-l)-@1px-l;
	}

	.widget {
		padding: 0 10px;
		margin: @lhem-l 0;
		
		ul {
			li {
				margin-bottom: (@lhem-l/2);
				
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */
				
				ul {
					margin-top: (@lhem-l/2);
					padding-left: @lhem-l;
				}
			}
		}
	}
	
	/* polls widget */
	.widget_polls-widget {
		
		ul li {
			display: none;
		}
		
		.wp-polls-ul li {
			display: block;
			
			i { font-style: normal; }
			
			label {
				font-weight: 400;
			}
		}
	}

	/* links widget */
	.widget_links {
		
		ul {
			.h4;
			font-weight: 600;
			padding: 0;
			margin: 0;
			list-style: none;
			text-align: center;
			
			li {
				margin: 0;
			}
		}
	}
	
	/* meta widget */
	.widget_meta {}
	.widget_meta ul {}
	.widget_meta ul li {}
	.widget_meta ul li a {}
	
	/* pages widget */
	.widget_pages {}
	.widget_pages ul {}
	.widget_pages ul li {}
	.widget_pages ul li a {}
	
	/* recent-posts widget */
	.widget_recent_entries {}
	.widget_recent_entries ul {}
	.widget_recent_entries ul li {}
	.widget_recent_entries ul li a {}
	
	/* archives widget */
	.widget_archive {}
	.widget_archive ul {}
	.widget_archive ul li {} 
	.widget_archive ul li a {}
	.widget_archive select {}
	.widget_archive option {}
	
	/* tag-cloud widget */
	.widget_tag_cloud {}
	.widget_tag_cloud a {}
	.widget_tag_cloud a:after {}
	.widget_tag_cloud a:before {}
	
	/* calendar widget */
	.widget_calendar {}
	#calendar_wrap {}
	#calendar_wrap th {}
	#calendar_wrap td {}
	#wp-calendar tr td {}
	#wp-calendar caption {}
	#wp-calendar a {}
	#wp-calendar #today {}
	#wp-calendar #prev {}
	#wp-calendar #next {}
	#wp-calendar #next a {}
	#wp-calendar #prev a {}
	
	/* category widget */
	.widget_categories {}
	.widget_categories ul {}
	.widget_categories ul li {} 
	.widget_categories ul ul.children {}
	.widget_categories a {}
	.widget_categories select{}
	.widget_categories select#cat {}
	.widget_categories select.postform {}
	.widget_categories option {}
	.widget_categories .level-0 {}
	.widget_categories .level-1 {}
	.widget_categories .level-2 {}
	.widget_categories .level-3 {}
	
	/* recent-comments widget */
	.recentcomments {}
	#recentcomments {}
	#recentcomments li {}
	#recentcomments li a {}
	.widget_recent_comments {}
	
	/* search widget */
	#searchform {}
	.widget_search {}
	.screen-reader-text {}
	
	/* text widget */
	.textwidget {}
	.widget_text {}
	.textwidget p {}
	
	/* twitter widget pro */
	/* http://bluedogwebservices.com/wordpress-plugin/twitter-widget-pro/ */
	.widget_twitter div {
	    padding:0;
	    
	    ul {
		    list-style: none;
		    padding: 0;
    	    font-size: 75%; /* 12px */
		    line-height: 1.333;
		    
		    li {
		    	.clearfix;
			    margin-bottom: 0.75em;
			    padding-bottom: 0.75em;
			    border-bottom: @niceborders-l;
			    display: block;
		    }
	    }
		
		.follow-button,
		.xavisys-link {
			margin:0 10px 10px 25px;
		}
		
		.entry-content,
		.entry-meta,
		.intent-meta {
			display: block;
			margin: auto 1.6em;
		}
		
		.entry-content {
			.clearfix;
			padding: 0 0 5px;
		}
		
		.entry-meta {
		    font-size:80%;
		    line-height: 1.6;
		    text-align: right;
		    font-weight: 600;
		    float: right;
		}
		
		.intent-meta {
			float: left;
		
			a {
			    background: url(../images/everything-spritev2.png); /** from Twitter resources */
			    display: inline-block;
			    height: 16px;
			    text-indent: -9999px;
			    width: 16px;
			    
			    &.in-reply-to {
				    background-position: 0 center;
			    }
			    
			    &:hover.in-reply-to {
		    	    background-position: -16px center;
			    }
			    
			    &.favorite {
				    background-position: -32px center;
			    }
			    
			    &:hover.favorite {
		    	    background-position: -48px center;
			    }
			    
			    &.retweet {
		    	    background-position: -80px center;
			    }
			    
			    &:hover.retweet {
		    	    background-position: -96px center;
			    }
			}
		} /* end .intent-meta */
	} /* end twitter widget pro */
	

/*********************
FOOTER STYLES
*********************/

.footer {
	padding-top: @lhem-l;
	
	p {
		font-size: 0.875em; /* 14px */
	}
}
	
	#inner-footer {
		margin: @lhem-l auto;
	}
	
	/* left column */
	#footer-column-center {
		text-align: center;
		
		#footer-links-sections,
		#footer-links-meta {
			margin: @lhem-l auto;
		}
	} /* end left column */
	
