/******************************************************************
Site Name: The Temple News
Author: Chris Montgomery

Stylesheet: Special Issues Stylesheet

Let's keep things organized and keep our special issue styles
in a separate file (this one). These still shouldn't be anything
very heavy because they're imported at the first media query.

******************************************************************/


/*****************************
 * SPECIAL ISSUE PAGE STYLES *
 *****************************/

.moversshakers-type-banner {
	font-family: @headline;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 72px;
}

.home-top-promo {
	margin: 0 0 3em;
	
	a {
		display: block;
	}
	
	img {
		position: relative;
		z-index: -99;
	}

	#movers-and-shakers-top-promo {
		.clearfix;
		color: white;

		//.boxShadow(1px,-4px,15px,0, rgba(0,0,0,1));
		.textShadow(2px, 2px, 5px, rgba(0,0,0,1));
		
		/* Some red bullshit. */
		background: #6d0019; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkMDAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-8 */

		.top-promo-block {

		}


		.special-issue-type-banner-container {
			margin: 0;
			position: relative;
			left: 1em;
		}

		a {
			color: white;

			&:hover,
			&:active {
				color: white;
			}
		}

		.top-promo-teasers {
			position: relative;
			right: 1em;

			.top-promo-teaser-item {
				list-style: none;
				text-align: right;

				h4 {
					.h5;
					margin: 0;
				}
			}
		}

	}
}

.si-banner-container {
	width: 100%;
	
	.si-banner {
		max-width: 100%;
	}
}

.page-id-38224 {
	h3.election-headline {
		font-family: @headline;
		font-weight: normal;
	}
}




/***************************
 * MOVERS & SHAKERS STYLES *
 ***************************/

#moversshakers-page-header {
	text-align: center;

	#moversshakers-page-title {
		font-family: @headline;
		font-weight: normal;
		text-transform: uppercase;
		color: black;
	}

	#moversshakers-page-summary {
		color: black;
		.h5;
		font-weight: normal;
		font-family: @serif;
	}
}

#moversshakers-main {
	#moversshakers-articles {
		.moversshakers-article {

			.moversshakers-featured-image-container {
				img {
					margin: 0;
				}
			}

			.moversshakers-article-header {
				.clearfix;
				width: 100%;
				padding: 0.5em;

				.boxShadow(1px,-4px,15px,0, rgba(0,0,0,1));

				background: #6d0019; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZkMDAxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOTAzMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
				background: -moz-linear-gradient(top,  #6d0019 0%, #8f0222 56%, #a90329 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6d0019), color-stop(56%,#8f0222), color-stop(100%,#a90329)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #6d0019 0%,#8f0222 56%,#a90329 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-8 */

				position: relative;
				z-index: 99;
				top: -2.5em;
				left: -0.5em;

				.moversshakers-name {
					margin: 0;
					text-align: center;
					font-family: @sans-serif;
					font-weight: 900;
					text-transform: uppercase;

					a {
						color: white;

						&:hover,
						&:active {
							color: white;
						}
					}
				}

				.moversshakers-dek {
					padding: 0 1em 0.5em;
					color: white;

					p {
						margin: 0;
					}
				}
			} /* end .moversshakers-header */
		} /* end .moversshakers-article */
	} /* end #moversshakers-articles */
} /* end #moversshakers-main */



/*******************
 * LUNCHIES STYLES *
 *******************/

.lunchies-main {
	
	.lunchies-map {
		
		.gm-map {
			font-family: 'CubanoRegular';
			font-weight: normal;
		}
	}
	
	#headline-voters-map {
		font-family: 'OstrichSansBold', @headline;
		font-weight: normal;
		text-align: center;
	}
	
	.rank-voters-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		.rank-voters-item {
			padding: 0 0 @lhem-s;
		
			.rank-voters-item-rank-container {
				float: left;
				width: 14.364640883%; // twocol
			    padding: 0 1em 1em 0;
			    text-align: center;
		
				.rank-voters-item-rank {
					.h1;
					margin: 0;
					font-family: 'OstrichSansBlack', @headline;
					font-weight: normal;
					text-align: center;
					width: 100%;
				
				}
		
				.rank-voters-item-percent {
					.h4;
					font-family: 'OstrichSansBlack', @headline;
					font-weight: normal;
					text-align: center;
					width: 100%;
				}
			} /* /.rank-voters-rank-container */
		
			.rank-voters-item-info {
				float: left;
				width: 80%;
		
				.rank-voters-item-title {
					margin: 0;
				}
			}
		} /* /.rank-voters-item */
	} /* /.rank-voters-list */
	
	.lunchies-articles {
		font-family: @serif;
		
		article {
			margin: 0 0 @lhem-s;
			
			h3.headline {
				.h2;
				font-family: 'OstrichSansBlack', @headline;
				font-weight: normal;
			}

			.dek {
				font-style: italic;
			}
			
			.post-content {
				img { display: none; }
			}
		}
	}
} /* /.lunchies-main */

.lunchies-sidebar {
	
	#headline-eds-list {
		text-align: center;
		font-family: 'OstrichSansBold', @headline;
		font-weight: normal;
	}
	
	ul.rank-eds-list {
		list-style: none;
		padding: 0;
		
		li.rank-eds-item {
			font-family: 'CubanoRegular';
			font-weight: normal;
			position: relative;
			margin: 0 0 @lhem-s;
			
			.rank-eds-item-outer-circle {
				background: white;
				width: 80px;
				height: 80px;
				-moz-border-radius: 40px;
				-webkit-border-radius: 40px;
				border-radius: 40px;
				
				position: absolute;
				z-index: 999;
				top: -20px;
				left: -20px;

				.boxShadow();
				
				.rank-eds-item-inner-circle {
					background: rgba(0,0,0,0.5);
					width: 60px;
					height: 60px;
					-moz-border-radius: 30px;
					-webkit-border-radius: 30px;
					border-radius: 30px;
					
					position: absolute;
					top: 10px;
					left: 10px;
					
				
					.rank-eds-item-rank {
						.h2;
						font-family: inherit;
						font-weight: normal;
						text-align: center;
						
						position: relative;
						left: 0.5em;
						
						/* Adjust the positioning for the tenth item to compensate for the extra digit */
						&:nth-child(10) {
							left: 0.25em;
						}
					}
				}
			}
			
			.rank-eds-item-title {
				.h4;
				padding: 0.5em 0 0.5em 3em;
				font-family: inherit;
				font-weight: normal;
				letter-spacing: 0.04em;
				background: white;
				.boxShadow();
				margin: 0;
				position: relative;
			}
			
			.rank-eds-item-img {
				padding: 0 10px 10px;
				background: white;
				
				img {
					margin: 0;
				}
			}
		} /* /.rank-eds-item */
	} /* /.rank-eds-list */
} /* /.lunchies-sidebar */



