/*------------------------------------*\
    TTN: VARS
\*------------------------------------*/





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css' objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         false;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         true;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        true;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     true;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $GRIDS
\*------------------------------------*/

/**
 * Breakpoints
 */
$break-xs:           481px;
$break-s:            768px;
$break-m:            1024px;
$break-l:            1280px;
$break-xl:           2880px;

// For inuit.css
$lap-start:          $break-xs;
$desk-start:         $break-m;
$desk-wide-start:    $break-l;
$palm-end:           $break-xs - 1px;
$lap-end:            $break-m - 1px;


/**
 * Susy
 */
$total-columns:      12;
$column-width:       4em;
$gutter-width:       1em;
$grid-padding:       $gutter-width;

$layout-palm:        $total-columns $palm-end;
$layout-lap:         $lap-start $total-columns $lap-end;
$layout-lapandup:    $lap-start $total-columns;
$layout-portable:    $total-columns $lap-end;
$layout-desk:        $desk-start $total-columns;
$layout-wide:        $desk-wide-start;
$layout-super:       $break-xl $total-columns * 2;





/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/


/**
 * Font stacks
 */
$font-stack__sans-serif:           "Source Sans Pro", "Open Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack__serif:                "Alegreya", Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$font-stack__serif--smallcaps:     "Alegreya SC", $font-stack__serif;
$font-stack__condensed:            "League Gothic", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;

$base-font-family:                 $font-stack__serif; // $OVERRIDES inuit.css
$base-font-family--smallcaps:      $font-stack__serif--smallcaps;


/**
 * Font-sizes (in pixels).
 *
 * $OVERRIDES inuit.css
 */
$giga-size:                        96px;
$mega-size:                        72px;
$kilo-size:                        48px;

$h1-size:                          36px; // .alpha
$h2-size:                          30px; // .beta
$h3-size:                          24px; // .gamma
$h4-size:                          20px; // .delta
$h5-size:                          16px; // .epsilon
$h6-size:                          14px; // .zeta

$milli-size:                       12px;
$micro-size:                       10px;

$base-font-size:                   16px; // $OVERRIDES inuit.css
$base-font-size-sm:                $milli-size;
$base-font-size-lg:                $h3-size;

$base-line-height:                 24px; // $OVERRIDES inuit.css
$line-height-ratio:                ($base-line-height / $base-font-size); // $OVERRIDES inuit.css
$base-line-height-sm:              ($base-font-size-sm * $line-height-ratio);
$base-line-height-lg:              ($base-font-size-lg * $line-height-ratio);




/*------------------------------------*\
    $RHYTHM
\*------------------------------------*/


$base-spacing-unit:                $base-line-height; // $OVERRIDES inuit.css

$base-padding-v:                   ($base-spacing-unit / 4); // 6px
$base-padding-v-lg:                ($base-padding-v * 1.5); // 9px
$base-padding-v-sm:                (ceil($base-padding-v / 1.25)); // 5px
$base-padding-v-xs:                ($base-padding-v / $base-padding-v); // 1px

$base-padding-h:                   (convert-to-px($grid-padding) / 1.3333333333); // 12px
$base-padding-h-lg:                ($base-padding-h * 1.3333333333); // 16px
$base-padding-h-sm:                ($base-padding-h / 1.2); // 10px
$base-padding-h-xs:                ($base-padding-h / 2.4); // 5px





/*------------------------------------*\
    $COLORS
\*------------------------------------*/

/**
 * Grayscale
 */
$color-black:                      hsl(0, 0%, 0%);
$color-gray--10:                   lighten($color-black, 10%);
$color-gray--20:                   lighten($color-black, 20%);
$color-gray--25:                   lighten($color-black, 25%); // one quarter
$color-gray--30:                   lighten($color-black, 30%);
$color-gray--33:                   lighten($color-black, 33%); // one third
$color-gray--40:                   lighten($color-black, 40%);
$color-gray--50:                   lighten($color-black, 50%); // one half
$color-gray--60:                   lighten($color-black, 60%);
$color-gray--66:                   lighten($color-black, 66%); // two thirds
$color-gray--70:                   lighten($color-black, 70%);
$color-gray--75:                   lighten($color-black, 75%); // three quarters
$color-gray--80:                   lighten($color-black, 80%);
$color-gray--90:                   lighten($color-black, 90%);
$color-white:                      hsl(0, 0%, 100%);

$color-gray--dark:                 $color-gray--20;
$color-gray--light:                $color-gray--80;
$color-gray--lighter:              $color-gray--90;

$color-gray:                       $color-gray--33;


/**
 * Standard color palette
 */
$color-red:                        #cc0000;
$color-red--cherry:                #9e1b34;
$color-blue:                       #528ba3;
$color-green:                      #4fa442;
$color-yellow:                     #C7CF47;
$color-purple-light:               #66afe9;


/**
 * Brand colors
 *
 * $OVERRIDES inuit.css
 */
$brand-color:                      $color-red;
$base-ui-color:                    $color-gray--light;

$brand-primary:                    $brand-color;
$brand-success:                    $color-green;
$brand-info:                       $color-blue;
$brand-warning:                    $color-yellow;
$brand-danger:                     $color-red;


/**
 * General color usage
 */
$text-color:                       $color-gray--10;

$link-color:                       $brand-primary;
$link-hover-color:                 $brand-info;

/**
 * Music Issue 2013 color scheme.
 */
$MusicIssue2013-color--overlay:    rgba(80,80,80,0.2);


/**
 * Form states and alerts
 *
 * Define colors for form feedback states and, by default, alerts.
 */
$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%);

$state-info-text:                #31708f;
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%);

$state-warning-text:             #8a6d3b;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%);

$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%);





/*------------------------------------*\
    $BORDERS
\*------------------------------------*/

$border-alpha:                     1px solid $base-ui-color;

$brand-round:                      0; // ^overrides inuit.css

$border-radius-base:               $brand-round;
$border-radius-sm:                 $brand-round / 2;
$border-radius-lg:                 $brand-round * 2;





/*------------------------------------*\
    $FORMS
\*------------------------------------*/

// Input text color
$input-color:                      $color-gray;
// Input background
$input-bg:                         #FFF;
// Input background (disabled)
$input-bg-disabled:                $color-gray--lighter;
// Input border color
$input-border:                     $color-gray--light;
// Input border color (focused)
$input-border-focus:               $color-purple-light;
// Input border radius
$input-border-radius:              $brand-round;

// Default `.form-control` height
$input-height-base:                ($base-line-height + ($base-padding-v * 2) + 2);
//** Large `.form-control` height
$input-height-lg:                  ($base-line-height-lg + ($base-padding-v-lg * 2) + 2);
//** Small `.form-control` height
$input-height-sm:                  ($base-line-height-sm + ($base-padding-v-sm * 2) + 2);

// Placeholder color
$input-color-placeholder:          $color-gray--light;

$legend-color:                     $color-gray--dark;
$legend-border-color:              $color-gray--light;

$input-group-addon-bg:             $color-gray--lighter;
$input-group-addon-border-color:   $input-border;





/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/


$btn-font-weight:                  normal;

$btn-default-color:                $color-gray--dark;
$btn-default-bg:                   #fff;
$btn-default-border:               $color-gray--lighter;

$btn-primary-color:                #fff;
$btn-primary-bg:                   $brand-primary;
$btn-primary-border:               darken($btn-primary-bg, 5%);

$btn-success-color:                #fff;
$btn-success-bg:                   $brand-success;
$btn-success-border:               darken($btn-success-bg, 5%);

$btn-info-color:                   #fff;
$btn-info-bg:                      $brand-info;
$btn-info-border:                  darken($btn-info-bg, 5%);

$btn-warning-color:                #fff;
$btn-warning-bg:                   $brand-warning;
$btn-warning-border:               darken($btn-warning-bg, 5%);

$btn-danger-color:                 #fff;
$btn-danger-bg:                    $brand-danger;
$btn-danger-border:                darken($btn-danger-bg, 5%);

$btn-link-disabled-color:          $color-gray--light;
