/*------------------------------------*\
    TTN: BASE: WIDTHS
\*------------------------------------*/
/**
 * Large-scale layout widths.
 */

/**
 * Container/wrap.
 */
.wrap {
	max-width: $container-width;
	margin: 0 auto;
}
